.editing-bar-btn{
  align-items: center !important;
}
.editing-bar-btn > * {
  width:100% !important;
}
.editing-bar-btn > a {
  padding-inline: 0.6em 1.2em;
  display:flex;
  justify-content: center;
  align-items: center;
}
.form-field input, .form-field select{
  color: black;
}

.image-container{
  display:flex;
  max-height: 100vh !important;
  flex-wrap: nowrap !important;
}
.popup img{
  max-width: 650px !important;
}